<div id="topleft"; style="background-color: #292929; color: white;  width: 49%;float:left;height:400px">

h1.  top left

sadsa

sdsada

sdsad

sdsad

!\images\bikeimages.jpg(click for more info)!:/fit/

"Fiit club":/fit/

</div>

<div id="topright"; style="background-color: blue; color: white;  width: 49%;float:right;height:400px">

h1. Top Right

This is the test for the Fitt club.  it goes here and 

if I keep typing it foes further to the left
safdsa

asdsa

sadsad

"Link to Fitt club":/fit/

</div>

<div id="bottomleft"; style="background-color: red; color: white;  width: 49%;float:left">

h1.  bottom left

p{color:blue;margin:30px; size:30}. Spacey blue The main text of the top left sections page goes here and will stay to the left of the sidebar. 

!\images\bikeimages.jpg(click for more info)!:/fit/

"Fiit club":/fit/

</div>

<div id="bottomright"; style="background-color: green; color: white;  width: 49%;float:right">

h1. Bottom Right

This is the test for the Fitt club.  it goes here and 

if I keep typing it foes further to the left
safdsa

asdsa

sadsad

"Link to Fitt club":/fit/

</div>
